body {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

header img {
	width: 400px;
	margin-top: 20px;
}

/*   Nav   */

nav {
	background-color: #ddd;
	height: 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

nav li {
	padding: 5px 25px 0 5px;
	float: left;
}

nav a {
	text-decoration: none;
	color: black;
}

/*   Sidebar   */

aside {
	padding-top: 20px;
	padding-bottom: 15px;
	float: right;
	margin-left: 20px;
}

/*   Main section   */

#bloglist {
	list-style-type: none;
	font-size: 18px;
	margin-left: 50px;
}

#bloglist li{
	padding: 3px 0;
}

#bloglist a {
	color: black;
}

section header h1 {
	padding: 10px 0 5px 0;
	margin: 0;
}

section header ul {
	padding: 0 0 10px 0;
	margin: 0;
	padding-left: 1px;
	list-style-type: none;

}

section header li {
	font-size: 11px;
	float: left;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 60px;
	margin-top: 0;
	margin-bottom: 0;
}

#tags {
	padding-left: 4px;
	border-left: 1px solid #03001d;
}

article {
	clear: left;
	margin-right: 200px;
}

article li {
	padding: 3px 0;
}

/*   Footer   */

footer {
	background-color: #ddd;
	height: 20px;
	clear: both;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

footer li {
	padding: 5px 25px 0 5px;
	float: left;
}

footer a {
	text-decoration: none;
	color: black;
}

#copy {
	text-align: center;
	padding: 5px 0 0 0;
	margin: 0;
}